.t-center {
    text-align: center;
}
.mt-80 {margin-top: 8rem;}
.mb-15 {margin-bottom: 1.5rem;}
.mb-20 {margin-bottom: 2rem;}
.mb-40 {margin-bottom: 4rem !important;}
.mb-60 {margin-bottom: 6rem !important;}
